#New Terminals/*
#!New Terminals/Scripts
New Terminals/MILLMessagesHexa
New Terminals/Prizes-testesTerminalPrecial
New Terminals/bkp
New Terminals/Totobola/prints/MILL_Transactions
New Terminals/Vmir-Files
New Terminals/Sign-on
New Terminals/LI/Prints
New Terminals/Totobola/prints
New Terminals/Totoloto/prints
New Terminals/Tmir-Files
New Terminals/HadesPrints
New Terminals/Arranque_MILL
Arranque_MILL/
HadesPrints/
New Terminals/Code-Study/
UpdateEnvironment
TMIR-Reports
Transactions - Stream
STOPSYS
Olimpo-Hades
Millennium-Documentação-Antiga
Millennium_Buffers/VAL-LI-Batch_estudo.txt
HeaderEndPointSignOn.txt
Millennium_Important_Documentation/~$MILL_DATA_STRUCTURES_OLM_V2_2020.xlsx
New Terminals/Terminals-List/HC-TERMINALSLIST.DAT;1
DISTI.png
New Terminals/PassChange.txt
New Terminals/Status.txt
New Terminals/LI/testes/teste_WinTmir.txt
HMC_SRC/Envirnment_Var.FOR
Arquitetura Olimpo-Olimpo LN + GALOPE.pdf
BD_POSEIDON.pdf
Workshop Galope - PRD.pdf
New Terminals/TMF-PRD(de produção)/tbe1_2021_030_20210908.zip
HMC_SRC/script.com
HMC_SRC/MainProg.for
New Terminals/HENRIQUE-TEST.DAT;36
New Terminals/Millennium - Atalho.lnk
VMIR-22-10-2021.DAT;1
src/for/MT7435_V.ZIP;1
VMIR-18-01-2022.REP;1
bash_scripts/sshpass-1.06
bash_scripts/transfer.sh
New Terminals/Documentation/POR25961_Millennium_SRC_for_INT_v10.zip
src/for/VMIR-02-05-2022.DAT;1
GTECH-IGT-FIXES/POR25961_Millennium_SRC_for_CAT_v11.zip
New Terminals/Logs/*
New Terminals/Logs/SCMLVISION.LOG;8
New Terminals/tbe1_2021_030_20210908.zip
New Terminals/Testes-Automatizados-Hades-Impacto-em-MILL/Muita Carga/putty/putty.log
New Terminals/Logs/SCMLOUTIGS.LOG;8
New Terminals/Logs/OTHER/HENRIQUE_16052022.DAT;1
New Terminals/Logs/OTHER/VMIR-NOT-WINNER-19-04-2022.DAT;1
New Terminals/Testes-Automatizados-Hades-Impacto-em-MILL/Muita Carga/putty/putty.log
New Terminals/Logs/OTHER/VMIR-19-04-2022.DAT;1