New Terminals/*
!New Terminals/Scripts
UpdateEnvironment
TMIR-Reports
Transactions - Stream
STOPSYS
Olimpo-Hades
Millennium-Documentação-Antiga
Millennium_Buffers/VAL-LI-Batch_estudo.txt
HeaderEndPointSignOn.txt
