#New Terminals/*
#!New Terminals/Scripts
New Terminals/MILLMessagesHexa
New Terminals/Prizes-testesTerminalPrecial
New Terminals/bkp
New Terminals/Totobola/prints/MILL_Transactions
New Terminals/Vmir-Files
New Terminals/Sign-on
New Terminals/LI/Prints
New Terminals/Totobola/prints
New Terminals/Totoloto/prints
New Terminals/Tmir-Files
New Terminals/HadesPrints
New Terminals/Arranque_MILL
Arranque_MILL/
HadesPrints/
New Terminals/Code-Study/
UpdateEnvironment
TMIR-Reports
Transactions - Stream
STOPSYS
Olimpo-Hades
Millennium-Documentação-Antiga
Millennium_Buffers/VAL-LI-Batch_estudo.txt
HeaderEndPointSignOn.txt
